* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $uoc-corporate;
  background-color: $uoc-bg;
}

h1, h2, h3 {
  margin: 0;
  font-family: $font-montserrat;
}

.site-title {
  display: flex;
  justify-content: center;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

.header {
  position: relative;

  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;

    img {
      width: $header-logo-width;
      height: auto;
    }
  }

  .owl-carousel {
    .owl-item {
      position: relative;

      img {
        width: 100%;
        height: 85vh;
        object-fit: cover;
      }

      .owl-item__overlay {
        @include ellipsis;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80vw;
        padding: 25px;
        text-align: center;
        background-color: $overlay-bg-color;
        transform: translate(-50%, -50%);
        
        @include media-query($breakpoint-md) {
          width: auto;
        }

        h2 {
          margin-bottom: 40px;
          font-size: 1.5rem;
          text-transform: uppercase;

          @include media-query($breakpoint-md) {
            font-size: 3rem;
            line-height: 3.5rem;
          }
        }

        .btn-to {
          padding: 10px 20px;
          font-family: 'Lato', sans-serif;
          font-size: 1rem;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          background-color: $uoc-corporate;
          border-radius: 30px;

          @include media-query($breakpoint-md) {
            font-size: 1rem;
          }

          &:hover {
            background-color: invert($uoc-corporate, 50%);
          }
        }
      }
    }

    .owl-nav {
      display: none;

      @include media-query($breakpoint-md) {
        display: block;

        .owl-prev {
          position: absolute;
          top: 50%;
          left: 1%;
          transform: translate(-1%, -50%);
        }

        .owl-next {
          position: absolute;
          top: 50%;
          right: 1%;
          transform: translate(1%, -50%);
        }

        .owl-prev, .owl-next {
          padding: 15px 23px !important;
          background-color: $uoc-masterbrand;
          border-radius: 50%;

          &:hover {
            background-color: invert($uoc-masterbrand, 50%);
          }
        }
      }
    }

    .owl-dots {
      display: none;
    }
  }
}

.main {
  margin-top: 50px;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.patrimoni {
  margin-top: 50px;
  
  &__image {
    max-width: 100%;

    @include media-query($breakpoint-md) {
      width: 500px;
      margin-bottom: 15px;
    }
  }

  @include media-query($breakpoint-md) {
    &:nth-child(odd) .patrimoni__image {
      float: left;
      margin-right: 15px;
    }

    &:nth-child(even) .patrimoni__image {
      float: right;
      margin-left: 15px;
    }
  }
}

.contact-group {
  
  margin-top: 40px;

  @include media-query($breakpoint-md) {
    display: flex;
  }

  .contact-info {
    flex: 1;
    padding: 50px;
    color: #fff;
    background-color: $uoc-corporate;
  }

  .contact-form {
    flex: 2;
    padding: 50px;
    background-color: $uoc-masterbrand;

    &__group {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 20px;    
    }

    &__input {
      display: block;
      width: 100%;
      height: 30px;
      padding: 5px 20px;
      font-size: 15px;
      color:#8a8a8a;
      letter-spacing: .8px;
      background-color: #fff;
      border:1px solid #dedede;
      border-radius: 10px;
    }

    &__select {
      

      width: 100%;
      height: 30px;
      padding: 5px 20px;
      font-size: 15px;
      color: #fff;
      text-align: left;
      cursor: pointer;
      background-color: $uoc-corporate;
      border: none;
      border-radius: 10px;


      &:hover, &:focus {
        background-color: invert($uoc-corporate, 50%);
      }
    }

    &__textarea {
      font-family: $font-family-sans-serif;
      font-size: 15px;
      border: none;
      border-radius: 10px;
    }
    
    &__submit {
      width: 100%;
      padding: 10px 20px;
      color: #fff;
      cursor: pointer;
      background-color: $uoc-corporate;
      border: none;
      border-radius: 10px;

      &:hover, &:focus {
        background-color: invert($uoc-corporate, 50%);
      }
    }

  }

}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}